# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de ambiente
.env

# VS Code
.vscode/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp

# Pastas de build (se tiver no futuro)
build/
dist/

# Testes
.coverage
htmlcov/